.cta {
    padding: 60px 20px;
    background-color: #008000; /* Company green color */
    color: #fff;
    text-align: center;
}

.cta-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #DAA520; /* Company gold color */
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
